{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1,"scrollleft":0,"selection":{"start":{"row":17,"column":12},"end":{"row":17,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1573400048411,"hash":"0bd2584db8210fc0b379d13fb6e5de95515a5b82"}