// Importing of partials 
@import "static/partials/universal.scss";
@import "static/partials/typography.scss";
@import "static/partials/images.scss";
@import "static/partials/positioning.scss";
@import "static/partials/mediaQueries.scss";


// Universal styling
body {
    @include universalStyling;
    @include primaryFontFamilty;
    @include backgroundImage;
}

.container {
    @include containers;
}

.row {
    @include rowStyling;
}

.hero_image img {
    @include imageSizing;
}

.flexContainer {
    @include flexContainer;
}

.heading {
    @include headings;
}

// Media queries styling
h1 {
    @include smartphone {
        font-size: 3em;
    }
    @include smartphoneMedium {}
    @include smartphoneLarge {}
    @include tablet {}
}

// Media queries styling
h5 {
    @include smartphone {
        font-size: 1.5em;
    }
    @include smartphoneMedium {}
    @include smartphoneLarge {}
    @include tablet {}
}

.button {
    @include smartphone {
        margin: 10%;
    }
}

.edit_recipe {
    @include smartphone {
        font-size: 80%;
    }
}
