{% extends 'base.html' %} {% block content %}

<article>
    <div class="container create_cuisine">
        <!-- Heading message and instructions -->
        <header>
            <div class="row">
                <div class="heading">
                    <h1>Create Cuisine Page!</h1>
                    <h6>Please complete the short form below to add your desired cuisine to the cookbook.</h6>
                    <h6>Only add a new cuisine if it is not already within the cookbook.</h6>
                    <h6>To view this, please view the 'List Of Current Cuisines' below.</h6>
                </div>
            </div>
        </header>
        <!-- // -->

        <!-- form allowing user to create a cuisine -->
        <section>
            <div class="row">
                <form action="{{ url_for('insert_cuisine') }}" method="POST" class="col s12 container">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <select id="cuisines" name="cuisine_name">
                        <option value="" disabled selected>View List</option>
                        {% for cuisine in cuisines %}<option value="{{cuisine.cuisine_name}}" disabled >{{cuisine.cuisine_name}}</option>{% endfor %}</select>
                        <label>List Of Current Cuisines</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea name="cuisine_name" id="cuisine_name" class="materialize-textarea" maxlength="10" required></textarea>
                        <label for="icon_prefix2">Enter Cuisine</label>
                    </div>

                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit Cuisine<i class="material-icons right">send</i></button>
                    </div>
                </form>
                <!-- // -->
            </div>
        </section>
    </div>
</article>
{% endblock %}
