{% extends 'base.html' %} {% block content %} {% for cuisine in cuisines %}
<div class="container">
    <div class="row">
        <div class="col s12 m3 cardBox">
            <div class="card blue lighten-5">
                <div class="card-content white-text">
                    <span class="card-title black-text">{{cuisine.cuisine_name}}</span>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn-small">Edit</a>
                    <a class="waves-effect waves-light btn-small">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
