{% extends 'base.html' %} {% block content %}

<div class="container">
    <h1>Welcome to the {{cuisines.cuisine_name}} Recipe Edit Page!</h1>
    <h5>Find the recipe you want to edit, and work your magic!</h5>

    {% for recipe in recipes %} {% if cuisines.cuisine_name == recipe.cuisine_name %}
    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header">
                <div class="card-action edit-buttons center-align">
                    <a href="{{url_for('edit_recipe', recipe_id =recipe._id)}}" class="waves-effect waves-light btn-small green lighten-1">Edit</a>
                    <a href="{{url_for('delete_recipe', recipe_id =recipe._id)}}" class="waves-effect waves-light btn-small  red lighten-1">Delete</a>
                </div>
                <u>{{recipe.dish_name}}</u> - {{recipe.dish_difficulty}} - {{recipe.cuisine_name}}
            </div>
        </li>
    </ul>
    {% else %} {% endif %} {% endfor %}
</div>
{% endblock %}
