{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row heading">
        <h1>Gutsy</h1>
        <h5>An online cookbook made by the community <br/> <u>FOR</u> the community!</h5>
        <div class="hero_image">
            <img src="static/images/chefs.png" height="475" width="950">
        </div>
    </div>

    <div class="row center-align">
        <a class="btn-floating btn-large waves-effect waves-light blue lighten-1 pulse" href="#cuisine_section"><i class="material-icons">expand_more</i></a>
    </div>

    <div id="cuisine_section" class="row cuisine_selection">
        <h1>Welcome to the Cuisine section</h1>
        <h4>Choose the cuisine you want to view recipes!</h4>
        
        {% for cuisine in cuisines %}
        <div class="col s12 m4 cardBox">
            <div class="card blue lighten-5 z-depth-2">
                <div class="card-content white-text">
                    <span class="card-title black-text center-align">{{cuisine.cuisine_name}}</span>
                </div>
                <div class="card-action center-align">
                    <a href="{{url_for('recipe_display', cuisine_id=cuisine._id, dish_name=recipes.dish_name)}}" class="waves-effect waves-light btn-small green lighten-1">View {{cuisine.cuisine_name}} Recipes!</a>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
    {% endblock %}
