{% extends 'base.html' %} {% block content %}

<div class="container">
    <h1>Welcome to the {{cuisines.cuisine_name}} Page!</h1>

    {% for recipe in recipes %}
        {% if cuisines.cuisine_name == recipes.cuisine_name %} 
        
            {{recipe.dish_name}}
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header"><i class="material-icons">restaurant_menu</i>{{recipe.cuisine_name}} - {{recipe.dish_name}} - {{recipe.dish_difficulty}}</div>
                    <div class="collapsible-body"><span>
                            <h4>{{recipe.dish_name}}</4>
                            <h5>Ingredients:</h5>
                            <ul>
                                <li>{{recipe.ingredient_1}}</li>
                                <li>{{recipe.ingredient_2}}</li>
                                <li>{{recipe.ingredient_3}}</li>
                                <li>{{recipe.ingredient_4}}</li>
                                <li>{{recipe.ingredient_5}}</li>
                                <li>{{recipe.ingredient_6}}</li>
                                <li>{{recipe.ingredient_7}}</li>
                                <li>{{recipe.ingredient_8}}</li>
                                <li>{{recipe.ingredient_9}}</li>
                            </ul>
                            <br/>
                            <h5>Steps:</h5>
                            <ul>
                                <li>1. {{recipe.step_1}}</li><br/>
                                <li>2. {{recipe.step_2}}</li><br/>
                                <li>3. {{recipe.step_3}}</li><br/>
                                <li>4. {{recipe.step_4}}</li><br/>
                            </ul>
                        </span></div>
                </li>
            </ul>
        {% endif %}
    {% endfor %} 
</div>
{% endblock %}
