{% extends 'base.html' %} {% block content %}

<div class="container">

    <!-- welcome message -->
    <div class="row">
        <div class="heading">
            <h1>Welcome to the {{cuisines.cuisine_name}} recipe Page!</h1>
        </div>
    </div>
    <!-- // -->

    <!-- recipe display -->
    <div class="row">
        {% for recipe in recipes %} {% if cuisines.cuisine_name == recipe.cuisine_name %} {{recipe.dish_name}}
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header"><i class="material-icons">restaurant_menu</i> <u>{{recipe.dish_name}}</u> <span class="hide-on-small-only">- {{recipe.dish_difficulty}} - {{recipe.cuisine_name}}</span></div>
                <div class="collapsible-body"><span>
                                <h4>{{recipe.dish_name}}</4>
                                <h6>This Dish Will Serve: {{recipe.serves}} Person(s).</h6>
                                <h6>This Dish Difficulty is: {{recipe.dish_difficulty}} </h6>
                            <h5>Ingredients:</h5>
                            <blockquote>
                            <ul>
                                <li>1. {{recipe.ingredient_1}}</li>
                                <li>2. {{recipe.ingredient_2}}</li>
                                <li>3. {{recipe.ingredient_3}}</li>
                                <li>4. {{recipe.ingredient_4}}</li>
                                <li>5. {{recipe.ingredient_5}}</li>
                                <li>6. {{recipe.ingredient_6}}</li>
                                <li>7. {{recipe.ingredient_7}}</li>
                                <li>8. {{recipe.ingredient_8}}</li>
                                <li>9. {{recipe.ingredient_9}}</li>
                            </ul>
                            </blockquote>
                            <br/>
                            <h5>Steps:</h5>
                            <blockquote>

                            <ul>
                                <li>1. {{recipe.step_1}}</li><br/>
                                <li>2. {{recipe.step_2}}</li><br/>
                                <li>3. {{recipe.step_3}}</li><br/>
                                <li>4. {{recipe.step_4}}</li><br/>
                            </ul>
                            </blockquote>

                        </span></div>
            </li>
        </ul>
        {% else %} {% endif %} {% endfor %}
    </div>
    <!-- // -->
    
</div>
{% endblock %}
